/* Classe principal da página de recuperação de senha */
.forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: transparent;
    padding: 2rem;
    width: 50%;
    box-sizing: border-box;
}

/* Logo */
.Logo {
    width: 50%;
    height: 10vh;
    background-image: url('./../../assets/EcoSense.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

/* Contêiner do formulário */
.container {
    width: 100%;
    max-width: 400px;
    background-color: #edeefc;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Título do formulário */
.container h1 {
    text-align: center;
    font-size: 1.5rem;
    color: #383e8a;
    margin-bottom: 1.5rem;
}

/* Campo de entrada */
.input-field {
    position: relative;
    margin-bottom: 1.5rem;
}

.input-field input {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

.input-field .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.25rem;
    color: #9e9e9e;
}

/* Botão de envio */
button {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    background-color: #383e8a;
    color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

button:hover {
    background-color: #2e347a;
}
